<p>
    {{searchBar}}
</p>


<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">IMDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="form-inline my-2 my-lg-0 ml-auto">
                <input class="form-control ml-sm-2" [(ngModel)]="searchBar" type="search" (keypress)="onSearch($event)"
                    placeholder="Search IMDB" aria-label="Search">
                <button class="btn btn-outline-success ml-4 my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </nav>
</div>